*
.idea
.osp

!.gitignore

/!wp-content/

/wp-content/*

/!wp-content/themes/

/wp-content/themes/*
/!wp-content/themes/testTheme/

/wp-content/themes/testTheme/node_modules/
/wp-content/themes/testTheme/src/
/wp-content/themes/testTheme/src/images/
